<!DOCTYPE html>
<html>
  <head>
    <title>PolarKamensk</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'entry_point' %>
    <%= stylesheet_pack_tag "entry_point", media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
